<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Bio</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
Aliyah is an undergraduate student at <a href="https://www.ntu.edu.tw/english/">National Taiwan University</a>, double majoring in <a href="https://web.ee.ntu.edu.tw/eng/index.php">Electrical Engineering</a> and <a href="http://www.econ.ntu.edu.tw/?locale=en">Economics</a>.<br><br>
Her research interests lie in speech, natural language processing and machine learning. She has worked with <a href="http://speech.ee.ntu.edu.tw/previous_version/lslNew.htm">Prof. Lin-Shan Lee</a> and <a href="http://speech.ee.ntu.edu.tw/~tlkagk/index.html">Prof. Hung-Yi Lee </a> on personalized dialogue response generation. She is also currenting working with <a href="http://vllab.ee.ntu.edu.tw/members.html">Prof. Yu-Chiang Frank Wang </a> on stochastic and controllable image-to-video generation.<br><br>
When she is not coding, she likes to read, take film photos and mentor younger students in the fields of STEM.<br> You can find her CV <a href="https://drive.google.com/file/d/1fxSkEErn2-daWondsIasL5E_pHaHCiMY/view?usp=sharing">here</a>.<br><br></p>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publications</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
* indicates equal contribution.<br>
<ul>
<li>Feng-Guang Su*, <b>Aliyah R. Hsu*</b>, Yi-Lin Tuan, Hung-Yi Lee. "A Multi-style Dialogue Response Generation Model via Adversarial Learning". Submitted to IEEE TETCI Special Issue on Adversarial Learning in Computational Intelligence. 2019</li>
<li>Feng-Guang Su*, <b>Aliyah R. Hsu*</b>, Yi-Lin Tuan, Hung-Yi Lee. "Personalized Dialogue Response Generation Learned from Monologues". Proc. Interspeech 2019, 4160-4164, DOI: 10.21437/Interspeech.2019-1696. [<a href="https://www.isca-speech.org/archive/Interspeech_2019/pdfs/1696.pdf">link</a>][<a href="https://github.com/adelaidehsu/Personalized-Dialogue-Response-Generation-from-Monologues">code</a>]</li>
<li><b>Aliyah R. Hsu</b>, Hung-Hua Chien, Chen-Yu Liao, et al. "Scan-Mode Atmospheric-Pressure Plasma Jet Processed Reduced Graphene Oxides for Quasi-Solid-State Gel-Electrolyte Supercapacitors". Coatings 2018, 8, 52. [<a href="https://www.mdpi.com/2079-6412/8/2/52">link</a>]</li>
</ul>
<br><br></p>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Recent Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Recent GitHub repositories that Aliyah has built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
